<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css"/>
        <link href="../stylesheets/navbar.css" rel="stylesheet">
      </head>
    <body class="position-relative" data-bs-spy="scroll">
      <%- include('./partials/navbar.ejs') %> 
      <section class="row grid">
        <p>Hello standings!</p>
      </section>
      <%- include('./partials/scripts.ejs') %>            
    </body>
</html>